body {
  background-color: #8f8f8f;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #070707;           /* títulos en negro */
}

h2 {
  color: #e1e0e0;
}

.card {
  background-color: #ffffff; /* tarjetas en blanco */
  padding: 20px;
  border-radius: 10px;
  max-width: 700px;
  margin: auto;
  border: 1px solid #dcdcdc; /* borde gris claro */
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.row {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333333;           
}

select, input {
  width: 100%;          
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #cccccc;
  background-color: #f9f9f9; 
  color: #111111;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
  gap: 10px;
  margin-top: 10px;
}

#swapBtn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #e6e6e6; /* gris neutro */
  color: #111111;
  cursor: pointer;
  transition: background 0.3s ease;
}

#swapBtn:hover {
  background-color: #cccccc; /* gris más fuerte */
}

#convertBtn {
  background-color: #111111; /* negro elegante */
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s ease;
}

#convertBtn:hover {
  background-color: #333333; /* gris oscuro */
}

.result {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  color: #111111;
  background-color: #f9f9f9;
}

.hint {
  font-size: 12px;
  color: #666666; /* gris medio */
}

footer {
  text-align: center;
  font-size: 12px;
  color: #666666;
  margin-top: 15px;
}
